@mixin fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// defaults to standard heading size
@mixin responsive-font($min-size: ($font-size - 2), $size: $font-size, $limit: $page-limit) {
  $baseline: $min-mobile;
  $font-multiplier: (($size - $min-size) / (strip-unit($limit) - strip-unit($baseline)));
  $font-baseline: ($min-size - $font-multiplier * strip-unit($baseline));

  @if $min-size >= $size {
    @warn 'Responsive font: min-size equal or greater than size'
  }

  font-size: #{$min-size}px;

  @media (min-width: $baseline) {
    font-size: #{$min-size}px;
    font-size: calc(#{$font-multiplier} * #{100vw} + (#{$font-baseline}px));
  }

  @media (min-width: $limit) {
    font-size: #{$size}px;
  }
}

@mixin viewport($media) {
  @warn 'viewport mixin is deprecated and will be removed in a future version';

  @if $media == handset {
    @media only screen and (max-width: $min-600) { @content; }
  }

  @else if $media == tablet {
    @media only screen and (min-width: $min-tablet) { @content; }
  }

  @else if $media == desktop {
    @media only screen and (min-width: $min-desktop) { @content; }
  }

  /* stylelint-disable */
  @else if $media == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
      only screen and (-o-min-device-pixel-ratio: 13/10),
      only screen and (min-resolution: 120dpi) {
      @content;
    }
  }

  @else if $media == oldIE {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content;
    }
  }
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) {
    @content;
  }
}

// segment customisable per-component / instance rather than being forced to work around defaults.
@mixin segment($padding-top: $segment-padding, $padding-bottom: $segment-padding, $padding-top-mobile: $segment-padding-mobile, $padding-bottom-mobile: $segment-padding-mobile) {
  padding-top: $padding-top-mobile;
  padding-bottom: $padding-bottom-mobile;

  @media (min-width: $min-tablet) {
    padding-top: percentage(strip-unit($padding-top) / strip-unit($page-limit));
    padding-bottom: percentage(strip-unit($padding-bottom) / strip-unit($page-limit));
  }

  @media (min-width: $page-limit) {
    padding-top: strip-unit($padding-top) * 1px;
    padding-bottom: strip-unit($padding-bottom) * 1px;
  }
}

@mixin container() {
  margin: 0 auto;

  padding: 0 $container-gutter-mobile;
  max-width: $page-width + $container-gutter-mobile * 1;

  @media (min-width: $min-mobile) {
    max-width: $page-width + $container-gutter-mobile * 2;
  }

  @media (min-width: $min-tablet) {
    padding-left: $container-gutter-tablet;
    padding-right: $container-gutter-tablet;
    max-width: $page-width + $container-gutter-tablet * 2;
  }

  @media (min-width: $min-desktop) {
    padding-left: $container-gutter-desktop;
    padding-right: $container-gutter-desktop;
    max-width: $page-width + $container-gutter-desktop * 2;
  }
}

// change below to reflect your project
// numerical values are arbitrary
@mixin heading($min: ($font-size * 1.5), $max: ($font-size * 3)) {
  @include reset-heading;
  @include responsive-font($min, $max);

  @warn 'Please implement for project';

  margin-bottom: (5/$max)*1em;

  font-family: $font-family;
  font-weight: normal;
  letter-spacing: 0;
  line-height: (58/$max);

  color: $color-font;
}

@mixin subheading($min: ($font-size * 1.5), $max: ($font-size * 3)) {
  @include reset-heading;
  @include responsive-font($min, $max);

  @warn 'Please implement for project';

  margin-bottom: (26/$max) * 1em;

  font-family: $font-family;
  font-weight: normal;
  letter-spacing: 0;
  line-height: (58/52);

  color: $color-font;
}

@mixin copy($min: $font-size, $max: ($font-size + 4)) {
  @include reset-all;
  @include responsive-font($min, $max);

  @warn 'Please implement for project';

  margin-bottom: (26/$max) * 1em;

  font-family: $font-family;
  font-weight: normal;
  letter-spacing: 0;
  line-height: (58/$max);

  color: $color-font;
}
