@import '~styles/config';

.js {
  display: none;

  padding: $gutter;
  margin-bottom: $gutter;

  line-height: 2;
  border: 1px dotted #0c0;

  b { // stylelint-disable-line
    font-size: 2em;
  }
}

.jsOnly {
  @include js-only {
    display: block;
  }
}

.jsDisabled {
  display: none;

  @include no-js {
    display: block;
  }
}
