@import '~styles/config';

.segment {
  padding-top: $segment-padding-mobile;
  padding-bottom: $segment-padding-mobile;

  @media (min-width: $min-tablet) {
    padding-top: percentage($segment-padding/$limit);
    padding-bottom: percentage($segment-padding/$limit);
  }

  @media (min-width: $limit) {
    padding-top: $segment-padding;
    padding-bottom: $segment-padding;
  }
}
