@import '~styles/config';

@mixin placeholder($text, $left: 25px, $right: 25px) {
  @include responsive-font(14, 14);

  content: $text;
  position: absolute;
  top: 10px;
  left: $left;
  right: $right;

  font-family: monospace;
  color: $color-light;
}

.grid {
  @include container;

  position: relative;

  margin-top: 140px;

  box-shadow: 0 0 0 1px $color-placeholder;

  &::after {
    @include placeholder('@include container;', 10px, 10px);
  }

  &::before {
    content: '';

    display: block;

    padding-top: 50px;
  }

  &__row {
    @include grid-row;

    position: relative;

    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 15px;

    box-shadow: 0 0 0 1px $color-placeholder;

    &::after {
      @include placeholder('@include grid-row;', 10px, 10px);
    }
  }

  &__spacer {
    height: 35px;
  }

  &__inside {
    height: 100px;

    background-color: $color-placeholder;
  }

  // Offsets examples
  &__offsetLeftOne {
    @include grid-offset-left(1);
  }

  &__offsetRightOne {
    @include grid-offset-right(1);
  }

  &__offsetRightTwo {
    @include grid-offset-right(2);
  }

  // Columns examples
  &__twoCol {
    @include grid-col(2);

    position: relative;

    &::after {
      @include placeholder('@include grid-col(2);');
    }
  }

  &__threeCol {
    @include grid-col(3);

    position: relative;

    &::after {
      @include placeholder('@include grid-col(3); @include grid-offset-left(1);');
    }
  }

  &__fourCol {
    @include grid-col(4);

    position: relative;

    &::after {
      @include placeholder('@include grid-col(4); @include grid-offset-left(1); @include grid-offset-right(1);');
    }
  }

  &__tenCol {
    @include grid-col(10);

    position: relative;

    &::after {
      @include placeholder('@include grid-col(10); @include grid-offset-left(1);');
    }
  }
}
